<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}

<!--Display the title of the article-->
<h1>{{.Payload.Title}}</h1>

<!--Display the content of the article-->
<p>{{.Payload.Content}}</p>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}